body{
  background-color: rgb(134, 92, 28);
}
.Gender{
  position: relative;
  left: 500px;
  top:30px;
}
.Gender-label{
    position: relative;
    left: 560px;
    top: 10px;
}

.birthDate-container{
  position: relative;
  left: 400px;
  top: 100px;
}
.birthDate-label{
  position: relative;
  left:150px;
  top: -25px;
}
.submit-btn{
  position: relative;
  left: -50px;
  top: 27px;
  font-size: 15pt;
  border-radius: 22%;
}
.birthDate-input{
  position: relative;
  left:40px;
}
.submit-btn:hover{
  color:brown;
  background-color: chartreuse;
}